page-entrepreneur-category {
  
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-md {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .card-title {
        position: absolute;
        bottom:0;
        font-size: 1.1em;
        width: 100%;
        font-weight: bold;
        color:map-get($colors, primary);
        /* background-color: rgba(0, 0, 0, 0.3); */
        padding-top:7px;
        padding-bottom:15px;
    }

    .label-md {
        margin:20px 0;
        font-size:1.2em;
        padding-bottom: 5px;

        ion-icon {
            position: relative;
            font-size: 1.4em;
            top:5px;
            /* padding-right: 10px; */
            width: 35px;
            text-align: center;
        }
    }


    
    .list-md { margin-top: 39px; }

    .back-button-icon-md { font-size: 3rem; }

    ion-header ion-icon { font-size: 2.7rem; }

    ion-header .button-inner span { font-size: 2rem; }

    ion-header .toolbar-title-md { font-size: 2.4rem; }



}
