<ion-header>
  <ion-navbar color="primary">
    <ion-title> 
      <span *ngIf="offlineCart">
          Panier ({{offlineCart.totalProduct}})
      </span>
    </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="offlineCart" no-padding>
    <h3>Panier : </h3>  
    <ion-list *ngFor="let product of offlineCart.products" no-padding>
        <ion-row *ngIf="product"> 
          <ion-col no-padding>              
            <p>- {{offlineCart.products[product.id].qty}} x {{product.title}} : <b>{{offlineCart.products[product.id].qty * product.price}} Fcfa</b></p>
          </ion-col>
        </ion-row>
      </ion-list>
  </div>
    
  <div *ngIf="offlineCart && offlineCart.totalProduct == 0" class="noitem"><p>Votre panier est vide</p></div>
  
  <div *ngIf="offlineCart && offlineCart.totalProduct > 0">

    <div class="price">
      <table class="total">
        <tr class="cart-total">
          <td  class="title">A payer : </td>
          <td> {{cartTotal}} Fcfa</td>
        </tr>
        <!-- <tr class="separator">
          <td colspan=2></td>
        </tr>
        <tr class="comission">
          <td class="title"><b>A payer : </b></td>
          <td><b>{{cartTotal * 0.2}} Fcfa</b></td>
        </tr> -->
      </table>
    </div>
<!--   
    <div *ngIf="entrepreneurAC && (entrepreneurAC < cartTotal * 0.2)">
      <p class="disabled"><ion-icon name="alert"></ion-icon>&nbsp; Votre solde actuel  ({{entrepreneurAC}} Fcfa) est insuffisant, veuillez modifier votre panier ou recharger votre compte.</p>
    </div> -->

    <p>Type de paiement : </p>
    <ion-list radio-group [(ngModel)]="paymentType">
      <ion-item>
        <ion-label>Cash</ion-label>
        <ion-radio value="cash" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mobile</ion-label>
        <ion-radio value="mobile"></ion-radio>
      </ion-item>
    </ion-list>
        
    <button ion-button block large color="success"  (click)="sendPayment(cartTotal)" [disabled]="paymentType == null || paymentType == ''" class="validate-btn">Valider le paiement</button>

    <div *ngIf="offlineCart && offlineCart.totalProduct > 0">
        <div no-padding class="cancel">
          <button ion-button block color="danger" (click)="emptyCart()">Vider le panier</button>
        </div>    
      </div>


  </div>


</ion-content>
