<ion-header>
  <ion-navbar color="primary">
    <ion-title> 
      <span *ngIf="cartObj">
          Panier ({{cartObj.totalProduct}})
      </span>
    </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="cartObj" no-padding>
    <h3>Panier : </h3>  
    <ion-list *ngFor="let product of cartObj.products" no-padding>
        <ion-row *ngIf="product"> 
          <ion-col no-padding>              
            <p>- {{cartObj.products[product.id].qty}} x {{product.title}} : <b>{{cartObj.products[product.id].qty * product.price}} Fcfa</b></p>
          </ion-col>
        </ion-row>
      </ion-list>
  </div>
    
  <div *ngIf="cartObj && cartObj.totalProduct == 0" class="noitem"><p>Votre panier est vide</p></div>
  
  <div *ngIf="cartObj && cartObj.totalProduct > 0">

    <div class="price">
      <table class="total">
        <tr class="cart-total">
          <td  class="title">A payer : </td>
          <td> {{cartTotal}} Fcfa</td>
        </tr>
        <!-- <tr class="separator">
          <td colspan=2></td>
        </tr>
        <tr class="comission">
          <td class="title"><b>A payer : </b></td>
          <td><b>{{cartTotal * 0.2}} Fcfa</b></td>
        </tr> -->
      </table>
    </div>
<!--   
    <div *ngIf="entrepreneurAC && (entrepreneurAC < cartTotal * 0.2)">
      <p class="disabled"><ion-icon name="alert"></ion-icon>&nbsp; Votre solde actuel  ({{entrepreneurAC}} Fcfa) est insuffisant, veuillez modifier votre panier ou recharger votre compte.</p>
    </div> -->
    
    <button ion-button block large color="success"  (click)="sendPayment(cartTotal)" class="validate-btn">Valider le paiement</button>

    <div *ngIf="cartObj && cartObj.totalProduct > 0">
        <div no-padding class="cancel">
          <button ion-button block color="danger" (click)="emptyCart()">Vider le panier</button>
        </div>    
      </div>


  </div>


</ion-content>
