page-survey {

    p {
        margin-top:30px;
        margin-bottom:5px;
        font-size: 1.2em;
        color:map-get($colors, secondary);
    }

    h4 {
        margin-top:30px;
        font-weight:bold;
        color:map-get($colors, primary);
        font-size:1.5em;
    } 

    ion-label {
        font-size: 1.4em;
    }

    ion-item.item-input {
        margin-bottom:10px;
    }

    .validate-btn {
        margin-top: 40px;
    }
    .text-input-md, .select-text {
        font-size: 1.3em;
    }
}
.alert-radio-label {
    font-size: 1.4em;
}
    