page-menu {

    .logout, .maintenance {
        margin-top:30px;
    }

    .links {
        margin-top:30px;
    }

    ion-title {
        text-align: center;
    }    
    .nav-logo {
        margin-top:5px;
        width: 50%;
        height: 50%;
    }

    ion-card {
        text-align:center;
        ion-icon {
            font-size:4em;
            margin-top:10px;
            margin-bottom:10px;
            //color:map-get($colors, primary);
        }

        .card-title {
            margin-bottom:10px;
        }

    }
}
