<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img src="./assets/imgs/logo-benoo-w.png" class="nav-logo" alt="">
    </ion-title>
    <ion-buttons end>
      <button ion-button [navPush]="pageCart" [navParams]="cartObj">
        <ion-icon name="cart"></ion-icon>
        <span *ngIf="cartObj">{{cartObj.totalProduct}}</span>
      </button>
    </ion-buttons>
    <button ion-button icon-only menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-menu [content]="menuContent" side="right">
  <ion-content>
    <ion-title><h4>Menu</h4></ion-title>
    <ion-list>
      <ion-item class="active"><ion-icon name="home"></ion-icon> Accueil</ion-item>
      <!-- <ion-item [navPush]="historyPage" name="swap"><ion-icon name="swap"></ion-icon> Solde & Transactions</ion-item> -->
      <ion-item (click)="navGoTo('history')"><ion-icon name="swap"></ion-icon> Solde & Transactions</ion-item>
      <ion-item menuClose detail-none><ion-icon name="arrow-back"></ion-icon> Retour</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #menuContent></ion-nav>
    
<ion-content no-padding>
  <h2 >Services</h2>
  <ion-list no-padding>
    <ion-row no-padding>
        <ion-col  *ngFor="let menu of menuData" col-6>
          <ion-card no-padding [navPush]="pageService" [navParams]='{typeId : menu.id, typeName : menu.title}'>
            <img src="./assets/imgs/{{menu.picture}}" alt="">
            <div class="card-title" >{{menu.title}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-list>
  <div padding>
    <button ion-button block large (click)="displaySurvey()"><ion-icon name="checkbox-outline"></ion-icon> &nbsp;&nbsp;&nbsp;Enquête client</button>
    <button ion-button block large color="danger" class="maintenance" (click)="callMaintenance()"><ion-icon name="alert"></ion-icon> &nbsp;&nbsp;&nbsp;Appel maintenance</button>
  </div>
</ion-content>
