<ion-header>
    <ion-navbar color="primary">
        <ion-title>Point de vente</ion-title>
        <ion-buttons end>
            <button ion-button [navPush]="pageCart" [navParams]="cartObj">
              <ion-icon name="cart"></ion-icon>&nbsp;
              <span *ngIf="cartObj">{{cartObj.totalProduct}}</span>
            </button>
          </ion-buttons>    
      </ion-navbar>
  </ion-header>

<ion-menu [content]="menuContent" side="right">
  <ion-content>
    <ion-title><h4>Menu</h4></ion-title>
    <ion-list>
      <ion-item (click)="navGoTo('menu')"><ion-icon name="home"></ion-icon> Accueil</ion-item>
      <ion-item class="active"><ion-icon name="bulb"></ion-icon> Mon point de vente</ion-item>
      <!-- <ion-item [navPush]="historyPage" name="swap"><ion-icon name="swap"></ion-icon> Solde & Transactions</ion-item> -->
      <ion-item (click)="navGoTo('history')"><ion-icon name="swap"></ion-icon> Transactions</ion-item>
      <ion-item (click)="navGoTo('entrepreneur-product')"><ion-icon name="cube"></ion-icon> Achats</ion-item>
      <ion-item (click)="navGoTo('entrepreneur-order')"><ion-icon name="locate"></ion-icon> Suivi de commande</ion-item>
      <ion-item (click)="logout()"><ion-icon name="close-circle"></ion-icon> Déconnexion</ion-item>
      <ion-item menuClose detail-none><ion-icon name="arrow-back"></ion-icon> Retour</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #menuContent></ion-nav>
    
<ion-content no-padding>
  <ion-list no-padding>
    <ion-row no-padding>
        <ion-col  *ngFor="let menu of menuData" col-6>
          <ion-card no-padding [navPush]="pageService" [navParams]='{typeId : menu.id, typeName : menu.title}'>
            <img src="./assets/imgs/{{menu.picture}}" alt="">
            <div class="card-title" >{{menu.title}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-list>
  <!-- <div padding>
    <button ion-button block large (click)="displaySurvey()"><ion-icon name="checkbox-outline"></ion-icon> &nbsp;&nbsp;&nbsp;Enquête client</button>
  </div> -->
</ion-content>
